{{#ember-theater theaterId="pause-direction" fixtures=fixtures config=config isFocused=true as |theater|}}
  {{ember-theater-director theaterId=theater.theaterId initialScene="test-scenarios/director/directions/pause"}}
{{/ember-theater}}

<div data-test={{hook "data"}}></div>
